@model List<filesDatabase.Models.userFile>


@foreach (var item in Model)
    {
    
  <div class="col-sm-3 col-md-2 item">
    <div class="thumbnail">
      <img class="thumbImage" src="@Url.Action("GetImage", "Home" ,new { @item.file.id } )" alt="">
      <div class="caption">
          <h4>@Html.DisplayFor(modelItem => item.file.fileName)</h4>
          <h6>@Html.DisplayFor(modelItem => item.file.fileDescription)</h6>
          <p class="categoryName">
              
              <div class="btn-group docCategory">
                  <button type="button" class="btn btn-primary" style="font-size: 10px;">Categories</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" style="font-size: 10px;" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu" doc-id="@Html.DisplayFor(x => item.file.id)">
                    @foreach (var category in item.categoriesForFile)
                        {
                            <li><a>@Html.DisplayFor(modelItem => category.CatName)</a></li>
                        }
                  </ul>
              </div>
              
          </p>
        <p document-id="@item.file.id"><button href="#" class="btn btn-primary viewLargeView" role="button">@Html.ActionLink("View", "LargeView", "Home", new { @item.file.id }, new { @class = "largeViewLink" })</button></p>
      </div>
    </div>
  </div>
    

    }
